footer
  padding: 0 rscale(16,40) rscale(16,40) rscale(16,40)
  display: flex
  flex-direction: column
  text-align: center

  @include sm
    flex-direction: row
    text-align: left

  div
    font-family: $selfmodern
    font-style: italic
    font-size: 17px
    order: 2

    @include sm
      order: 2

  ul
    text-transform: uppercase
    font-family: $factora
    letter-spacing: 0.05rem
    font-size: 13px
    line-height: 130%
    flex: 1
    display: flex
    flex-direction: column
    justify-content: flex-end
    order: 1

    @include sm
      flex-direction: row
      order: 2

    li
      list-style-type: none
      margin-bottom: rscale(16,40)

      @include sm
        margin-left: rscale(16,40)
        margin-bottom: 0

      a
        color: $black
        text-decoration: none

        &:hover
          text-decoration: underline
