.project
  main

    #logo
      display: block
      margin-top: rscale(40,80)
      width: 50%
      will-change: width
      position: relative

      @include sm
        width: 20.9%
        min-width: 200px

    #header
      margin: rscale(24,80) rscale(16,80)

      h1
        font-family: 'Love', serif
        font-size: rscale(64,100)
        line-height: 80%
        // line-height: rscale(60,94)
        font-feature-settings: 'kern' 1, 'ss06', 'liga' 0
        text-transform: uppercase
        font-weight: 400
        letter-spacing: -0.05rem
        text-align: center
        margin: rscale(120,140) 0 0
        z-index: 1
        position: relative
        // font-display: swap

        &.fit
          display: inline-block

      .image-container
        height: 70vw
        margin-top: -5%
        overflow: hidden
        display: flex
        justify-content: top
        flex-direction: column

        .image
          height: 70vw
          width: 100%
          flex-shrink: 0
          background-size: cover
          background-position: center center

    #intro
      margin-bottom: rscale(120,140)

      .intro-text
        p
          margin-bottom: rscale(24,40)
          font-family: 'Sometimes Times'
          font-size: rscale(20,32)
          line-height: rscale(28,40)
          margin: 0 0 rscale(16,40)

          &:last-child
            margin-bottom: 0

    .meta-data
      font-family: 'Sometimes Times TRIAL'
      font-weight: 500
      font-size: 14px

      .meta-data-section
        margin-bottom: rscale(24,40)

        h4
          text-transform: uppercase
          font-family: 'Factor A TRIAL'
          letter-spacing: 0.05rem
          margin: 0 0 rscale(8,24) 0
          font-size: 12px

        ul
          li
            font-style: italic
            list-style-type: none
            margin: 0 0 rscale(12,32) 0
            display: flex
            align-items: flex-end

            a
              color: black

            span
              text-transform: uppercase
              font-style: normal
              font-family: 'Factor A TRIAL'
              font-size: 12px
              flex: 1

    .layout
      margin: rscale(16,80) 0
      display: grid
      grid-template-columns: repeat(12,1fr)
      column-gap: rscale(16,80)

      @include sm
        padding: rscale(24,80) 0

      .column
        padding: 0

        @include sm
          padding: 0 rscale(16,80)

        &.col-4
          grid-column: span 4 / span 4
        &.col-6
          grid-column: span 6 / span 6
        &.col-12
          grid-column: span 12 / span 12

        ul li
          list-style-type: none
          display: flex
          flex-direction: column
          justify-content: center

        img
          width: 100%
          max-height: calc(100vh - 80px)
          object-fit: contain
          object-position: center center

        .sticky-container
          background: red

        .horizontal-gallery
          display: inline-flex
          flex-direction: row
          flex-shrink: 0

        #horizontal-gallery
          display: inline-flex
          overflow-x: scroll
          width: 100%
          padding: 0 rscale(16,40)

          @include sm
            justify-content: center

          li
            flex-shrink: 0
            margin-right: rscale(16,40)

            &:last-child
              margin-right: 0

            figure
              padding: 0 rscale(16,80)

            img
              max-height: 120vw
              padding: 0

              @include sm
                max-height: 100vh
                padding: rscale(16,80) 0

      #scroll-direction-wrapper
        height: auto

        @include sm
          height: inherit
